@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding: 15px 0;
  a {
    color: #bb0000;
  }
}

.comments_link {
  font-size: 10px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
  a {
    color: #666666;
  }
}

.vote_score {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  a {
    color: #666666;
  }
  padding-top: 30px;
}
